body {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    background: #fed3ff;
}

header {
    display: flex;
    justify-content: space-between;
    background: white;
    border-bottom: 1px solid lightgray;
    width: 100%;
}

#logo {
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
    align-items: center;
    font-family: 'Mukta', sans-serif;
    color: black;

}

#nav {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

header a {
    margin-right: 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Mukta', sans-serif;
    color: #F7AEF8;

}

header a:hover {
    color: #A9FFF7;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #F7AEF8;
    font-family: 'Mukta', sans-serif;
    font-size: 60px;

}

main {
    display: flex;
    flex-direction: column;
    background: white;
    font-family: 'Mukta', sans-serif;
    font-size: 18px;
}

#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 50px 60px 50px;
    text-align: center;
}

#form-area {
    background: #92CDED;
}

#application-form {
    width: 70%;
    margin: 30px auto;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    color: white;

}

#application-form label, p {
    padding: 0px 5px 0px 25px;

}

h2 {
    text-transform: uppercase;
    color: white;

}

#morality-score-section {
    display: inline-block;
    margin: 10px 25px;
    padding: 15px 25px;
    border: 1px solid white;
}

#morality-score {
    margin-left: 3px;
    text-decoration: underline;
    font-weight: bold;

}


#apply-button {
    display: flex;
    border: 1px solid #92CDED;
    padding: 10px 15px;
    background: #C7EBF0;
    text-decoration: none;
    text-transform: uppercase;
    color: #F7AEF8;
    margin: 15px;
}

#skills {
    display: flex;
    flex-direction: column;
}

#philosophy {
    display: flex;
    flex-direction: column;
}

#submit-button {
    padding-top: 20px;
    text-align: center;
}

button {
    display: inline-block;
    padding: 20px 35px;
    background: #F7AEF8;
    margin-top: 25px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 22px;
    border: none;
}

button:hover {
    background: #fed3ff;
}

hr {
    border: none;
    background: white;
    height: 3px;
    margin: 35px 0px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Mukta', sans-serif;
    color: white;
    background: #fed3ff;
    height: 100%;
    padding-top: 25px;
    padding-bottom: 100px;
}