body {
    font-family: cursive;
}

h1 {
    font-size: 50px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px rgba(32, 32, 247, 0.44), 0 0 5px rgba(118, 123, 247, 0.235);
    margin-left: 15px;
}

a {
    margin-left: 70px;
    font-weight: bold;
    background-color: black;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
    padding-top: 1px;
    border-radius: 15px;
    color: white;
}

img {
    position: fixed;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    margin-top: -250px; /* Half the height */
    margin-left: -250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;

}