body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
}

#section-one {
    border: 4px solid cornflowerblue;
    padding: 10px;
}

#income {
    border: 4px solid pink;
    padding: 10px;
    margin-top: 10px;
}

#lifestyle {
    border: 4px solid goldenrod;
    padding: 10px;
    margin-top: 10px;
}

button {
    background-color: cornflowerblue;
    padding: 10px;
    margin-top: 10px;
}

.hidden {
    background-color: gray;
}