body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:  rgba(233, 203, 237, 1);
    color:rgba(96, 99, 158, 1);
}

h1 {
    display: flex;
    justify-content: center;
    color: rgba(96, 99, 158, 1);
    font-family: 'Playfair Display', serif;
}

h2 {
    display: flex;
    color: rgba(96, 99, 158, 1);
    font-family: 'Playfair Display', serif;
}

.touch {
    display: flex;
    justify-content: center;
}

#section-one {
    border: 4px solid rgba(184, 252, 238, 1);
    padding: 10px;
}

#income {
    border: 4px solid rgba(184, 252, 238, 1);
    padding: 10px;
    margin-top: 10px;
}

#lifestyle {
    border: 4px solid rgba(184, 252, 238, 1);
    padding: 10px;
    margin-top: 10px;
}

button {
    background-color: rgba(184, 252, 238, 1);
    padding: 10px;
    margin-top: 10px;
    color: rgba(96, 99, 158, 1);
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}

.hidden {
    background-color: darkgrey;
}

a {
    border: 5px solid rgba(184, 252, 238, 1);
    border-radius: 5px;
    padding: 5px;
    font-family: 'Playfair Display', serif;
    color: rgba(96, 99, 158, 1);
    font-size: 20px;
    margin-top: 50px;
    text-decoration: none;
}

.thanks {
    display: flex;
    font-family: 'Playfair Display', serif;
    align-content: center;
}

dd {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

dt {
    font-weight: bold;
    margin-top: 10px;
}




