header, footer {
    border: 4px solid white;
    padding: 3px;
    margin: 3px;
    background-color: wheat;
}
html {
    background-color: lightblue;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial', Arial, sans-serif;
    margin: 5px;
}
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a {
    font-family: 'Franklin Gothic Medium', 'Arial', Arial, sans-serif;
    text-decoration: none;
    font-weight: bold;
}
main {
    border: 4px solid white;
    padding: 3px;
    margin: 3px;
    background-color: wheat;
}

table {
    margin: 5px;
    padding: 5px;
}

td {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 3px;
    padding: 3px;
}

th {
    font-family: 'Franklin Gothic Medium', 'Arial', Arial, sans-serif;
    text-decoration: underline;
}