body {
    max-width: 800px;
    margin: auto;
}

header {
    display: flex run-in;
    justify-content: center;
}

nav {
    border: 1px solid black;
    background: yellow;
    padding: 5px;
}

li {
    display: inline;
}

.nav {
    padding: 5px 20px;
    text-decoration: none;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
                    
.nav:hover {
    background: rgb(55, 55, 238);
    font-weight: bold;
}

a:visited {
    color: black;
}

footer {
    margin-top: 60px;
    padding: 20px;
    background: black;
    color: white;
}

section {
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
}

#about-section {
    background: lightcoral;
}

#experience-section {
    background: lightblue;
}

#types-section {
    background: lightgreen;
}

button {
    font-size: 15px;
    background: yellow;
    margin-top: 10px;
}

.hidden {
    color: gray;
}