header {
    display: flex run-in;
    justify-content: center;
    background: lightcoral;
}

nav {
    border: 1px solid black;
    background: yellow;
    padding: 5px;
}

li {
    display: inline;
}

.nav {
    padding: 5px 20px;
    text-decoration: none;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
                    
.nav:hover {
    background: rgb(55, 55, 238);
    font-weight: bold;
}

a:visited {
    color: black;
}

main {
    display: flex;
    justify-content: center;
    background: lightblue;
    padding: 60px;
}

#apply {
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background: lightgreen;
}

#apply:hover {
    background: black;
    color: white;
}

footer {
    padding: 20px;
    background: black;
    color: white;
}