body {
    background-image: url("./assets/fernando-lavin-790230-unsplash.jpg");
    background-size: 100%;
    z-index: 1
}
a {
    border: 5px solid rgb(63, 65, 102);
    border-radius: 5px;
    padding: 5px;
    font-family: 'Playfair Display', serif;
    color: rgb(63, 65, 102);
    margin-top: 20px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;

}

section {
    z-index: 2
}
h1 {
    font-family: 'Playfair Display', serif;
    color: rgb(63, 65, 102);
    font-size: 50px;
}

p {
    margin-top: 50px;
}

footer {
    font-family: 'Playfair Display', serif;  
}
