body {
    background-color: antiquewhite;
}

table {
    margin: auto;
    border: 2px solid black;
}

th {
    background-color: rgb(243, 192, 125);
}

td {
    background-color: rgb(247, 219, 183);
}