body {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    background: #92CDED;

}


header {
    display: flex;
    justify-content: space-between;
    background: #A9FFF7;
    width: 100%;
}

#logo {
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
    align-items: center;
    font-family: 'Mukta', sans-serif;
    color: #274700;

}

#nav {
    display: flex;
    align-items: center;
}

header a {
    background: #F7AEF8;
    padding: 20px 35px;
    margin-left: 7px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Mukta', sans-serif;
    color: #274700;

}

header a:hover {
    background: #e2edef;
}




h1 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #F7AEF8;
    font-family: 'Mukta', sans-serif;
    font-size: 60px;

}

main {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    border-bottom: 3px solid #feef03;
    font-family: 'Mukta', sans-serif;
    font-size: 18px;
    height: 600px;
    background-image: url('assets/index-main-background.jpg');
}

#intro {
    width: 45%;
    margin: 25px 50px 25px 100px;
    
}

#apply-button {
    border: 1px solid #92CDED;
    padding: 10px 25px;
    background: #F7AEF8;
    margin-top: 25px;
}

#apply-button a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 22px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #92CDED;
    height: 100%;
    padding-bottom: 100px;
}