#links {
    background: rgb(196, 76, 76);
    font-size: 30px;
    padding: 10px;
}

#dweeb-image {
    height: 250;
}

img {
    height: 250px;
}

legend {
    font-size: 20px;
}

#apply {
    font-size: 25px;
    background: rgb(48, 116, 161);
}