html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

header{
    text-align: center;
    border: 2px solid rgb(163, 15, 15);
    padding: 5px;
    font-family: "Gill Sans", sans-serif;
}
body{
    background: rgb(39, 37, 37);
    color:slategray;
}

#apply-link{
    text-align: center;
    margin: 50px;
}

a{
    color:rgb(114, 15, 11);
    font-size: 20px;
    margin: 5px;
}